body {
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
    margin: 3%;
}

/* banner styles */
.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;

    border-radius: 10px;
    padding: 40px 40px 0 40px;
}

.banner-info h1 {
    font-size: 70px;
    font-weight: 700;
    color: white;
}

.banner-info p {
    font-size: 16px;
    color: white;
    margin-bottom: 60px;

}

.button-style {
    color: white;
    font-size: 18px;
    text-decoration: none;
    background-color: blueviolet;
    height: 56px;
    width: 178px;
    padding: 10px 25px;
    border-radius: 5px
}

.fas.fa-greater-than {
    margin-left: 10px;
}

.banner img {
    width: 90%;
    margin-left: 20px;
}

/* matches styles */
.info-navigation {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin: 50px 10px 50px 0;

}

.matches-links {
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
}

.matches-links a {
    text-decoration: none;
    color: black;
}

.matches-button {
    font-size: 16px;
    height: 25%;
    border-radius: 10px;
    font-weight: 600;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;
    margin-left: 10px;
    row-gap: 20px;
}

.match-info img {
    border-radius: 5px;
}

.details-button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

.match-icons {
    display: flex;
    align-items: center;
}

.duration,
.comments {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.view-button {
    visibility: hidden;
}

/* matches.html styles */
.schedule-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 100px;
    margin-left: 10px;
    margin-bottom: 50px;
}

.match-between {
    display: flex;
    align-items: center;
}

.match-schdule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flag {
    margin: 8px;
}

/* footer  style*/
.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

hr {
    border: 1px solid grey;
    width: 80%;
}

.footer-info {
    display: flex;
}

.footer-info p {
    margin: 10px 12px;
}

.social-icons.fab {
    margin: 60px;
}

/* Responsive for mobile*/
@media only screen and (max-width:688px) {
    .banner {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner img {
        margin-top: 50px;
    }

    .info-navigation {
        display: flex;
        flex-direction: column;
    }

    /* matches styles */
    .schedule-details {
        grid-template-columns: 1fr;
        margin: 20px 0 20px 0;
    }

    .matches {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 50px;
    }

    .match-info {
        display: flex;
        flex-direction: column;
    }

    .details-button {
        width: 100px;
        margin-top: 20px;
    }

    .view-button {
        visibility: hidden;
    }

    /* footer style  */
    .footer-info {
        flex-direction: column;
        align-items: center;
    }


}

/* responsive for tablate  */
@media only screen and (min-width:689px) and (max-width:992px) {
    .info-navigation {
        display: flex;
        flex-direction: column;
    }

    .matches-links {
        height: 60px;
        flex-direction: row;
        background-color: white;
    }

    .matches-button {
        height: 100%;
        width: 25%;
        border: 1px solid gray;
        padding: 0px;
    }

    .matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .match-info {
        display: flex;
        flex-direction: column;
    }

    .details-button {
        width: 100px;
        margin-top: 20px;
    }

    .view-button {
        margin: 0 45% 20px 45%;
        visibility: visible;
    }
}